*{
  box-sizing: border-box;
}
body{
  background-color: #621402;
  font-family: Roboto;
  color: #fff;
}
.container{
  max-width: 1170px;
  margin: auto;
}
.header{
  min-height: 100vh;
  background: linear-gradient(180deg, rgba(98, 20, 2, 0.31) 0%, #621402 85.62%), url('../img/bg.jpg') no-repeat center top / cover;
}
.navbar{
  display: flex;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.menu{
  display: flex;
  list-style-type: none;
  margin: 0;
  margin-left: 17px;
}
.menu-item{
  margin-right: 25px;
}
.menu-link{
  color: #fff;
  text-decoration: none;
}
.user{
  margin-left: auto;
  display: flex;
  align-items: center;
  color: #fff;
}
.avatar{
  width: 33px;
  height: 33px;
  border-radius: 50%;
  margin-left: 11px;
}
.film{
  display: flex;
  align-items:center;
  margin-top: 60px;
  color: #fff;
}
.film-title-small {
  opacity: 0.5;
  font-size: 24px;
  line-height: 150%;
}
.film-title{
  font-size: 36px;
  line-height: 42px;
  margin-top: 11px;
  margin-bottom: 23px;
}
.film-descr{
  font-size: 16px;
  line-height: 150%;
  max-width: 560px;
}
.film-traller{
  margin: auto;
}
.film-details{
  display: flex;
  align-items: center;
  margin-top:  50px;
}
.time{
  display: flex;
  align-items:center;
}
.time-icon{
  margin-right: 14px;
}
.rating{
  display: flex;
  align-items: center;
  margin-left: 35px;
}
.rating-icon{
  margin-right: 14px;
}
.rating-current{
  font-size: 24px;
  line-height: 150%;
}
.session{
  margin-top: 62px;
  padding-top: 46px;
  padding-bottom: 63px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.session-date-block{
  display: flex;
}
.session-label{
  display: block;
  margin-bottom: 20px;
}
.session-month{
  font-size: 16px;
  line-height: 19px;
}
.session-day{
  font-weight: 900;
  font-size: 30px;
  line-height: 35px;
}
.session-week{
  font-size: 19px;
  line-height: 22px;
}
.session-date-item{
  cursor: pointer;
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  text-align: center;
  width: 90px;
  height: 90px;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
  transition: background-color 0.3s;
}
.session-date-item:hover{
  background-color: #FE8E05;
  color: #621402;
}
.select{
  background: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  padding: 18px;
  margin-top: 15px;
}
.select-cinema{
  min-width: 470px;
}
option{
  color: black;
  font-size: 19px;
  line-height: 22px;
}
.scheme{
  margin-bottom: 40px;
  background: rgba(36, 36, 36, 0.18);
  border-radius: 10px;
}
.scheme path:not(.light){
  cursor: pointer;
  fill: rgba(255, 255, 255, 0.2);
}
.scheme path:not(.light):hover {
  fill: rgba(255, 255, 255, 0.5);
}
.scheme path.active,
.scheme path.active:hover {

  fill: #FE8E05;
}
.scheme path.booked,
.scheme path.booked:hover{

  fill: rgba(255, 255, 255, 0.05);
  cursor: not-allowed;
}
.legend{
  display: flex;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  max-height: 1024px;
  margin: auto;
  padding-top: 22px;
  padding-bottom: 32px;
}
.legend-label{
  margin-right: 30px;
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.5) 
}
.legend svg{
  margin-right: 15px;
}
.price{
  padding-top: 20px;
  padding-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.price-label{
  display: block;
  font-size: 18px;
  line-height: 21px;
}
.price-tag{
  font-size: 52px;
  line-height: 61px;
}
.button{
  display: block;
  background: #FE8E05;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  padding: 24px 52px;
  text-decoration: none;
}